.my-Navbar {
    list-style-type: none;
    margin: 5px;
    padding: 10px;
    overflow: hidden;
    font-family: cursive;
    position: fixed;
    top: 0;
    width: 100%;
}

.my-Nav{
    display: block;
    text-align: left;
    padding: 15px 15px;
    margin-top: 20px;
    margin-right: 30px;
    text-decoration: none;
    border: black solid 1px;
}

.my-Nav :hover {
    color: cornflowerblue;
}

.nav-Link{
    color: black;
    margin-left: 1vw;
    text-decoration: none;
}

.nav-Logo {
    font-size: 25px;
}